<div class="top">
  <p> ログインページ</p>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(scope: :session, local: true, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password,  "パスワード" %>
      <%= f.password_field :password %>
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>